
.header{
  color:white;
}

.logo{
  float: left;
  width: 160px;
  height: 62px;
  margin: 0px 16px 0 0;
}
.content{
  margin: 16px;
}
.box{
  padding:24px;
  background: #fff;
  min-height: 500px;
}

.footer{
  text-align: center;
}
